<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demand supply matching tool V1</title>
</head>
<body>
<h1>Create Room</h1>
<h3>{{ message }}</h3>
<form method="post">
    <label>Room Name:</label>
    <input type="text" name="room_name">
    <br>
    <label>Members:</label>
    <input type="text" name="members">
    <br>
    <label>Highest Bid:</label>
    <input type="number" name="highest_bid">
    <br>
    <label>Closing time:</label>
    <input type="datetime-local" name="closing_time" min="2021-05-07T00:00" max="2021-06-14T00:00">
    <br>
    <label>Quantity:</label>
    <input type="number" name="quantity">
    <br>
    <label>Article Id:</label>
    <input type="text" name="articleno">
    <br>
    <label for='templatetype'>Template Type:</label>
    <select name="templatetype" id="templatetype">
        <option value="article">Article</option>
    </select>
    <br>
    <button type="submit">Submit</button>
</form>
</body>
</html>