<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demand supply matching tool V1</title>
</head>
<body>
<h1>The auction {{ room }} has finished </h1>
<h2>Winner bid {{highest_bid}} SEK from {{highest_bidder}}  </h2>


<div id="messages">
    {% for message in messages %}
        <div><b>{{ message.sender }}&nbsp;[{{ message.created_at }}]:&nbsp;</b> {{ message.text }}</div>
    {% endfor %}
</div>

<div id="template">
    {{template}}

</div>

<h3>Members</h3>
<ul>
    {% for member in room_members %}
        <li>{{ member._id.username }}</li>
    {% endfor %}
</ul>


</body>

<script>
    
</script>
</html>